body {
  background: #f1f1f1;
  margin: 0;
  min-height: 100vh;
}
.App {
  min-height: 100vh;
}
header {
  background: #fff;
}
#dark header {
  background-color: #121212;
}
header .container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 5px 20px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

.nav-rightside-items {
  margin-right: 20px;
}
.nav-rightside {
  white-space: nowrap;
  font-size: 1.5rem;
  list-style: none;
}

.nav-items:first-child {
  margin-right: auto;
  margin-left: 5%;
}
header a,
span {
  color: #333;
  text-decoration: none;
  font-family: "Solitreo", cursive;
  color: #1aac83;
}

.pages {
  max-width: 100vw;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: flex;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.create {
  padding-right: 5%;
  min-width: 20%;
}
.create textarea {
  border-radius: 15px;
}
.create input {
  border-radius: 15px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 2px 5px rgb(0, 0, 0, 0.5);
  width: 70%;
}

.workout-note {
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(51, 51, 51);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 2rem;
  color: #ac1a43;
}

.workout-details-p {
  margin: 0 0 5px 0;
  font-size: 1em;
  color: #555;
}

.material-symbols-outlined {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workout-details-span {
  position: absolute;
  top: 70px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.workout-details-span:nth-child(2) {
  position: absolute;
  top: 70px;
  right: 80px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workouts {
  width: 80%;
}

input,
textarea {
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #ddd;
  border-radius: 4px;
}

button {
  background: #ac1a43;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.herolink {
  display: flex;
  gap: 22px;
  justify-content: center;
  background-color: #1aac83;
}

.herolink-items {
  text-decoration: none;
  color: white;
}

.workoutplans-items {
  text-decoration: none;
  color: white;
}

.herolink-items:hover,
.herolink-items:focus,
.material-symbols-outlined:hover,
.workout-details-span:hover {
  background-color: #ac1a43;
}

.hero-section {
  text-align: center;
  color: #ac1a43;
  width: 70%;
}

.workout-details-a {
  color: #ac1a43;
  font-weight: bold;
  font-size: 1rem;
}

.update-input {
  width: 50%;
  border-radius: 20px;
  background-color: #d3d0d0;
}

#light {
  background-color: f1f1f1;
}

#dark {
  background-color: #121212;
}

#dark .herolink {
  background-color: #4f4e4e;
}

#dark h3 {
  color: #ac1a43;
}

#dark .faq {
  color: #ac1a43;
}

#dark .login {
  background-color: #2e2d2d;
}

#dark .signup {
  background-color: #2e2d2d;
}

.error {
  font-size: 2rem;
}

#dark .error {
  color: red;
}

.switch {
  position: absolute;
  right: 7%;
  top: 1%;
}

.switch label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.switch span {
  margin-right: 5px;
}

.workoutplans {
  font-size: 2rem;
  gap: 20px;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.open-btn {
  display: none;
}

#hidden {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .herolink-items h2 {
    font-size: 20px;
  }
  .switch {
    position: absolute;
    top: 1%;
  }
}

@media only screen and (max-width: 750px) {
  .herolink-items h2 {
    font-size: 15px;
  }

  .home {
    display: flex;
    flex-direction: column;
  }
  .workouts {
    width: auto;
  }
  .workout-details-span {
    position: absolute;
    right: 15%;
    top: 70%;
  }
  .material-symbols-outlined {
    position: absolute;
    right: 3%;
    top: 70%;
  }

  .hero-section {
    width: auto;
    text-align: center;
  }

  .workoutplans {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 650px) {
  .open-btn {
    display: flex;
    position: absolute;
    top: 5%;
    right: 6%;
  }

  .nav-rightside {
    display: flex;
    position: absolute;
    top: 10%;
  }

  #hidden {
    position: absolute;
    left: 0px;
    top: 85px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 90;
    gap: 0;
  }
  #hidden .herolink-items {
    display: flex;
  }
  .herolink-items {
    display: none;
  }
  #hidden h2 {
    font-size: 18px;
  }

  #dark #hidden {
    background-color: #2c2b2b;
  }

  .logout-btn {
    max-height: 35px;
  }

  .nav-list {
    padding: 0;
  }
}
