body {
  background: #f1f1f1;
  margin: 0;
  min-height: 100vh;
}
.App {
  min-height: 100vh;
}
header {
  background: #fff;
}
#dark header {
  background-color: #fff;
}
header .container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 5px 20px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}


.nav-rightside-items {
  padding: 10px 15px;
}
.nav-rightside {
  white-space: nowrap;
  font-size: 1.5rem;
  list-style: none;
  margin-right: 2rem;
  padding-left: 2rem;
}

.nav-items:first-child {
  margin-right: auto;
  margin-left: 5%;
}
header a,
span {
  color: #333;
  text-decoration: none;
  font-family: "Solitreo", cursive;
  color: #1aac83;
}

.pages {
  max-width: 100vw;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: flex;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.create {
  padding-right: 5%;
  min-width: 20%;
}
.create textarea {
  border-radius: 15px;
}
.create input {
  border-radius: 15px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 2px 5px rgb(0, 0, 0, 0.5);
  width: 70%;
}

.workout-note {
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(51, 51, 51);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 2rem;
  color: #ac1a43;
}

.workout-details-p {
  margin: 0 0 5px 0;
  font-size: 1em;
  color: #555;
}

.material-symbols-outlined {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workout-details-span {
  position: absolute;
  top: 70px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.workout-details-span:nth-child(2) {
  position: absolute;
  top: 70px;
  right: 80px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workouts {
  width: 80%;
}

input,
textarea {
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #ddd;
  border-radius: 4px;
}

button {
  background: #ac1a43;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.herolink {
  display: flex;
  gap: 22px;
  justify-content: center;
  background-color: #1aac83;
}

.herolink-items {
  text-decoration: none;
  color: white;
}

.herolink-items:hover,
.herolink-items:focus,
.material-symbols-outlined:hover,
.workout-details-span:hover {
  background-color: #ac1a43;
}

.hero-section {
  text-align: center;
  color: #ac1a43;
  width: 70%;
}

.workout-details-a {
  color: #ac1a43;
  font-weight: bold;
}

.update-input {
  width: 50%;
  border-radius: 20px;
  background-color: #d3d0d0;
}

#light {
  background-color: f1f1f1;
}

#dark {
  background-color: #121212;
}

#dark .herolink {
  background-color: #4f4e4e;
}

#dark h3 {
  color: #ac1a43;
}

.switch {
  position: absolute;
  right: 20px;
  top: 50px;
}

.switch label {
  display: flex;
  justify-content: center;
  align-items: center;
}
